<div class="container" data-spy="scroll" data-target="#posts" id="posts">
    {{#foreach posts}}
        <div class="row-fluid margin-bottom">
            <div class="page-header">
                <h3>{{{title}}}  <small><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time></small></h3>
            </div>

            <div class="post-preview" type="section">
                <p>{{excerpt words="55"}} ...</p>
            </div>

            <a class="btn btn-block btn-default btn-wolfe" href="{{url}}">Read More</a>
        </div>
    {{/foreach}}
    
    {{! Previous/next page links - displayed on every page }}
    <div class="text-center">
    {{pagination}}
</div>
</div>
