<div class="wrapper">

    {{! This is the post loop - each post will be output using this markup }}
    <div class="post-container">
        {{#foreach posts}}
        <article class="post-item">
            <header class="post-header">
                <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
            </header>
            
            <section class="post-excerpt">
                <p>{{excerpt words="35"}} ...</p>
                
                <a class="read-more" href="{{url}}">Read More</a>
            </section>
            <footer class="post-meta">
                <div>
                    <p>
                        {{author}}
                        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                    </p>
                </div>
                {{#if tags}}
                <div class="post-tags">
                    {{tags}}
                </div>
                {{/if}}
            </footer>
            
        </article>
        {{/foreach}}
    </div>

    {{! Previous/next page links - displayed on every page }}
    {{pagination}}
</div>
