<nav class="blog-menu blog-menu-inverse"> 
    <div class="wrapper"> 
        <div id="blog-brand" class="blog-brand">
            <a href="{{@blog.url}}">
                <span class="blog-logo" style="background-image: url('{{@blog.logo}}');"></span>
                <span class="blog-title">Elystus</span>
            </a>
        </div>
        <ul class="blog-menu-container">
            {{#foreach @blog.navigation}}
                <a class="nav-{{slug}}{{#if current}} nav-current{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
            {{/foreach}}
        </u>
    </div>
</nav>