{{!< default}}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

{{> "masthead_post"}}
{{navigation}}
<div class="container content" role="main">
    <article class="{{post_class}}">

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        <section class="date">
            <h5 class="post-meta">
                Posted on <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time> {{tags prefix=" on "}}
            </h5>
        </section>
        {{#author}}
            <section class="author">
                <h5>Posted by <a href="{{url}}">{{name}}</a></h5>
            </section>
        {{/author}}
            <nav class="share">
                <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                </a>
            </nav>
        </footer>
    </article>
</div>
{{/post}}
